.favoritesTextContainer {
    display: flex;
    gap: 8px;
    align-items: center;
}

.favoritesIcon {
    background-color: var(--light-green);
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 50%;

    .heartIcon {
        fill: transparent;
        stroke: var(--green);
        transition: .3s;
    }
}

.favoritesText {
    h2 {
        font: 800 16px var(--font-playfair);
        color: var(--title);
    }

    p {
        font: 500 12px var(--font-source);
        color: var(--text);
    }
}